@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div class="cf-turnstile" data-sitekey="0x4AAAAAAAA-HBHI73dn91XW" data-callback="javascriptCallback"></div>

